# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# Fresh build directory
_fresh/
# npm dependencies
node_modules/

# pdf files
storeFiles

# docker
dockerfile
docker-compose.yml

true-kite-431022-p9-731f887c8d8d.json